# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.docker
*.log

# Airflow
logs/
airflow.db
airflow-webserver.pid

# Docker
*.pid

# Dados locais
dados/
*.csv

# Credenciais
credencial_json/
*.json

# Notebooks
notebooks_apoio

#Outros
config
plugins